<%= include('../public/header') %>
<%= include('../public/leftbar') %>
<div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
    <form class="form-horizontal">
        <fieldset>
            <legend>上传文件</legend>
            
            <div class="form-group">
                
                <div id="imgPreview">
                    
                </div>
                
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="typeahead">选择文件</label>
                <div class="col-lg-10">
                    <input id="file" type="file" class="form-control col-md-6" multiple="multiple" />
                </div>
            </div>
            <div class="action">
                <button type="button" class="btn btn-primary" id="fileUpload">上传</button>
                <button type="reset" class="btn btn-default">取消</button>
            </div>
            
        </fieldset>
    </form>

    <div class="upload-result">
        <h2 class="hidden">上传记录:</h2>
    </div>
</div>
<style type="text/css">
textarea {
    width:100%;
    height: 300px;
    border-radius: 5px;
}
.action {
    text-align: center;
}
.action .btn {
    padding-left: 25px;
    padding-right: 25px;
}
.action .btn.btn-default {
    margin-left:20px;
}

</style>
<script>
    $('#fileUpload').click(function(e) {
        var formData = new FormData();
        var files = $('#file')[0].files;
        for (var i = 0, len = files.length; i < len; i++) {
            formData.append('file', files[i]);
        }
        
        $.ajax({
            url: '/file/doUpload',
            type: 'POST',
            cache: false,
            data: formData,
            processData: false,
            contentType: false,
            dataType: 'JSON',
            timeout: 30000
        }).done(function(res) {
            // if (res.code =='fail') {
            //     alert(res.msg);
            // } else {
            //     $('#imgUrl').html(res.url);
            // }
            var wrap = $('.upload-result');
            wrap.find('h2').removeClass('hidden');
            for (var i = 0; i < res.length; i++) {
                wrap.append('<div class="content"><img style="width:150px;height:150px;" src="' + res[i].url + '" /></div><div class="imageurl">' + res[i].url + '</div>');
            }


        }).fail(function(res) {
            alert('上传失败');
        });
    });
    
</script>
<%= include('../public/footer') %>

    
    
